* {
  margin: 0;
}
:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: rgba(216, 222, 233, 1); /*rgb(216 222 233)*/
  --nord5: #e5e9f0;
  --nord6: rgb(236 239 244);
  --nord7: #8fbcbb;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;

  --bg-color-default: var(--nord5);
  --fn1-color-default: var(--nord0);
  --fn2-color-default: var(--nord1);
  --border-color: rgba(76, 86, 106, 0.2); /*nord3*/
  --border-color-default: var(--border-color);
  --border-color-2: var(--nord5);
  --border-color-3: var(--nord2);
  --border-size: clamp(0em, 0.1vw, 0.2em);
  --cell-pading-size: clamp(0em, 0.1vw, 0.2em);
  --border: var(--border-size) solid var(--border-color-default);
  --bottom-color-defalut: var(--border-color-default);
  --error-color-default: var(--nord12);
  --main-card-color-default: var(--nord3);
  --success-color-default: var(--nord14);
  --menu-icon-hover-bg: var(--border-color);
}
body {
  color: var(--nord3);
}
* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--nord3);
}

.canvas {
  display: flex;
  flex-direction: column;
  font-family: Rubik;
  padding: 0 2rem;
  height: 100vh;
  min-width: 350px;
  background-color: rgb(242, 244, 248);
  border: var(--border);
}
main{
  /* height: 100vh; */
}
.content-pusher {
  height: 6em;
}
.app-header {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0em;
  top: 0;
  width: 100%;
  height: 5em;
  color: var(--nord3);
  z-index: 1000;
}
.app-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  padding: 0 2em;
  width: 100%;
}
.app-menu-hamburger {
    display:none;
}

.app-menu-hamburger-icon {
  width: 2em;
  height: 2em;
  fill: var(--nord3);
}
.app-menu-hamburger-icon:hover {
  cursor: pointer;
  border-radius: 0.5em;
  background: white;
}
.app-menu-slider {
  position: absolute;
  text-align: center;
  top: 5em;
  background: rgb(242, 244, 248);
  height: 0px;
  width: 100%;
  transition: height 400ms ease-in-out;
  overflow-y: auto;
}
.app-menu-slider-list {
  display: flex;
  flex-direction: column;
}
.app-menu-slider-list-item {
  padding: 0.4em 0.5em;
  margin: 0.5em;
  font-size: 2em;
}
.app-menu-slider-list-item:hover {
  border-radius: 0.5em;
  background: white;
}
.app-menu-horizontal {
  
}
.app-menu-horizontal-list {
  display:flex;
  justify-content:flex-end;
}
.logo {
  height: 100%;
  display: flex;
  font-size: 2em;
  font-weight: bold;
  align-items: center;
}
.logo-z {
  color: var(--nord12);
}

.app-footer {
  display: flex;
  color: var(--nord3);
  justify-content: center;
  font-size: 0.8em;
  padding: 1em;
  font-weight: bold;
}

.app-footer-fav-icon {
  fill: var(--nord12);
  width: 1.3em;
  vertical-align: middle;
}

.app-footer-github-icon {
  width: 1.3em;
  height: 1.3em;
  vertical-align: middle;
  fill: var(--nord3);
}
.app-footer-sep {
  padding: 0 0.5em;
}

.index{
  display: flex;
  flex-direction: column;
}
.index-image {
  align-self: center;
  width:10em;
  margin: 10em 0;
}
.index-image path {
  fill: var(--nord3);
}
.index-image path:nth-child(1) {
  fill: var(--nord12);
}
.index-image path:nth-child(2) {
  fill: var(--nord12);
}
.index-description {
  align-self: flex-start;
  margin-top:8rem;
}

.card {
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(1, auto);
  min-width: 330px;
  max-width: 330px;
  color: var(--nord3);
  border-top: 0.5em solid var(--nord3);
  background: white;
  padding: 2em;
  border-radius: 0.5em;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
}

.card header {
  display: flex;
  justify-content: center;
  font-size: 2em;
  opacity: 0.3;
  padding-bottom: 1em;
}

.card .question {
  display: flex;
  padding-bottom: 2em;
  padding-top: 2em;
  justify-content: center;
  border-top: var(--border);
  border-bottom: var(--border);
  border-opacity: 0.3;
}

#powerOf2.card .queston-base {
  font-size: 6em;
  opacity: 0.3;
}

.card .question-value {
  font-size: 3em;
}

#hexToBin.card .question-prefix {
  opacity: 0.3;
  font-size: 3em;
}
#hexToBin.card .result-prefix {
  opacity: 0.3;
}

#hexToBin.card .result-value span:nth-child(4) {
  padding-right: 1rem;
}
#binToHex.card .question-prefix {
  font-size: 3em;
  opacity: 0.3;
}
#binToHex.card .result-prefix {
  opacity: 0.3;
}

.card .result {
  display: flex;
  justify-content: center;
  font-size: 3em;
  padding-top: 0em;
  border-bottom: var(--border);
}

.card .answer {
  display: grid;
  grid-template-columns: repeat(1, auto);
  justify-content: right;
  padding-bottom: 2em;
  padding-top: 2em;
  border-bottom: var(--border);
}

.card .answer input {
  background: 0;
  border: 0;
  font-size: 3em;
  color: var(--nord3);
  width: 100%;
  outline: none;
  text-align: center;
  transition: padding 0.3s 0.2s ease;
}
.card .answer input.error {
  color: var(--error-color-default);
}
.card .answer input.success {
  color: var(--success-color-default);
}
.card .answer input::placeholder {
  opacity: 0.5;
  font-size: 0.5em;
  text-align: center;
  padding-bottom: 10px;
}

.card .answer input:focus {
  padding-bottom: 5px;
}

.card .answer input[type="number"]::-webkit-inner-spin-button,
.card .answer input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card .answer input[type="number"] {
  -moz-appearance: textfield;
}

.card .answer .line {
  margin-top: 0.5em;
  width: 100%;
  height: 0.2em;
  background: var(--main-card-color-default);
}
.card .answer .line.error {
  background-color: var(--error-color-default);
}
.card .answer .line.success {
  background-color: var(--success-color-default);
}
.card footer {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  white-space: nowrap;
}

.card footer .action {
  border: 0;
}
.card footer .action svg {
  width: 5em;
  fill: var(--nord3);
}
.card footer .action svg:hover {
  fill: var(--nord0);
  cursor: pointer;
}
.card footer .action .reload {
  width: 5em;
  display: none;
}

@media (min-width: 400px) { 
  .app-menu-hamburger {
    display:block;
  }
 .app-menu-horizontal {
    display:none;
  }
}

@media (min-width: 850px) { 
  .app-menu-hamburger {
    display:none;
  }
  .app-menu-horizontal {
    display:flex;
  }
}
